<html>


   <head>
       <script>
          document.addEventListener("DOMContentLoaded", ready);

          function ready(){
            console.log("child intialized");

            window.addEventListener('message', function(event) {
               console.log("child received msg from parent");
               var origin = event.origin || event.originalEvent.origin; // For Chrome, the origin property is in the event.originalEvent object.
               // if (origin !== /*the container's domain url*/)
               //    return;

               if (typeof event.data == 'object' && event.data.call=='sendValue') {
                  // Do something with event.data.value;
                  document.getElementById("data").textContent = "received:" + event.data.value;

                  parent.postMessage("I hear you, daddy", "*");
                  console.log("child answering to parent");
               }
            }, false);
          }

       </script>
   </head>

   <body>
      <div id="header">authing</div>
      <div id="data">zero</div>
   </body>

</html>
